.mainContainer {
  background-image: url("../../assets/road-auto-lights-long-exposure.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Asegura que esté en la parte superior */
}

.detailContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white; /* Texto blanco para contraste */
  border-radius: 8px;
  padding: 5px;
  margin-top: -150px;
  box-shadow: 0 -8px 12px rgba(224, 220, 220, 0.725);
  overflow-y: auto;
}

/* Estilos para el botón de cierre ("X") */
.detailContainer button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para el contenedor de atributos y descripción */
.detailContainer .atributes {
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Estilos para las etiquetas h2 y el párrafo */
.detailContainer h2 {
  font-size: 18px;
  margin: 5px 0;
}

.detailContainer p {
  font-size: 15px;
  margin: 40px 0;
}

/* Estilos para la imagen */
.detailContainer img {
  width: 300px; /* Tamaño fijo para la imagen */
  height: 300px; /* Tamaño fijo para la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  box-shadow: 0 -8px 12px rgba(224, 220, 220, 0.725);
  margin-top: 70px;
  margin-left: 50px; /* Espaciado a la derecha de las etiquetas */
  margin-right: 80px;
}
