.searchBar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el campo de entrada (input) */
.searchBar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 15px;
  outline: none;
  margin: 0;
}

/* Estilos para el botón de búsqueda */
.searchBar button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color de fondo al pasar el mouse sobre el botón */
.searchBar button:hover {
  background-color: #555;
}
