html,
body,
.home {
  height: 100%;
  margin: 0; /*evitar espacios no deseados */
  padding: 0; /*evitar espacios no deseados */
}

.home {
  background-image: url("../../assets/Automovilismo.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #1e1d1de8; /* Color de fondo de la página */
  padding: 10px; /* Espaciado interior */
  font-family: Arial, sans-serif; /* Fuente de texto */
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
