.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Color de fondo de la barra de navegación */
  display: flex;
  justify-content: space-between; /* Coloca los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px;
}
.createLink {
  flex: 1;
}
.navLink {
  color: white;
}

.searchBar {
  flex: 1; /* Ocupa el espacio disponible en el centro */
  text-align: center;
}
.selector {
  flex: 1; /* Ocupa el espacio disponible en la derecha */
  text-align: right;
}

/* .mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid blueviolet;
} */
